<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SembawangSportEntities" connectionString="metadata=res://*/SSCModel.csdl|res://*/SSCModel.ssdl|res://*/SSCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SembawangSport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>